@import "./reset","./variables";
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: $Bg-color;
position: relative;
}
.header  {
    color:$BgWarning-color;
    text-align: center;
    font-weight: 900;
    font-size: 3rem;
    margin:2rem;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.4);
}